<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">VENTE PHONE &copy; 2022</small>
      <small class="d-block mb-3 text-muted">By Camille D.</small>
    </div>
    <div class="col-6 col-md">
      <h5>Help & Contact</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">FAQ</a></li>
        <li><a class="text-muted" href="#">Return & refund</a></li>
        <li><a class="text-muted" href="#">Follow my package</a></li>
        <li><a class="text-muted" href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Methods paiement</h5>
      <ul class="list-unstyled text-small">
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-paypal"></i>
        <i class="fas fa-credit-card"></i>
        <i class="fab fa-cc-amex"></i>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Services</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">After sales service</a></li>
        <li><a class="text-muted" href="#">Education</a></li>
        <li><a class="text-muted" href="#">Gaming</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>